.employee-container {
    max-width: 980px;
}

.selected-img {
    width: 100px;
    height: 120px;
    border: solid 1px grey;
}

.avatar-gallery {
    list-style: none;
}

.avatar-gallery li {
    display: inline;
    margin-right: 10px;
}

.avatar-image {
    width: 125px;
    height: 125px;
}

.avatar-image img {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}