.employee-container {
    max-width: 980px;
}
.selected-img{
    width: 100px;
    height: 120px;
    border: solid 1px grey;
}
.avatar-gallery{
    list-style: none;
}
.avatar-gallery li{
    display: inline;
    margin-right: 10px;
}
.avatar-image{
    width: 125px;
    height: 125px;
}
.avatar-image img {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
}